<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>
    <link rel="icon" href="/img/indir.png">
</head>
<body>
    {{!-- about sayfası --}}
    <div class ="main-content">
      <h1>{{>header}}</h1>
      <img class="portrait" src="/img/resim.png" />
    </div>

   {{>footer}}
    
</body>
</html>